
<%= link_to("New Picture", "/pictures/new") %>

<% @pictures.each do |picture| %>
  <div class="box">
    <p><%= picture.title %>, <%= picture.artist %> </p>
    <div class="art_backing">
      <%=  link_to(image_tag(picture.url, :class => "artwork", :height => "300px"), "/pictures/#{picture.id}") %>
    </div>
  </div>
<% end %>
